<h1>StaticPage#home</h1>
<p>Find me in app/views/static_page/home.html.erb</p>

<p>I added a link to the Users index page using the link_to tag</p>

<%= link_to 'User home', users_path %>

<p> Otherwise to get to the Activities page you need to type the following in the browser</p>
<p> http://127.0.0.1:3000/activities</p>

<p>See these links for some help: </p>
<ul>
<li><a href="https://guides.rubyonrails.org/routing.html" target="_blank" >Ruby Guides </a></li>
<li><a href="https://apidock.com/rails/v2.1.0/ActionView/Helpers/UrlHelper/link_to" target="_blank" >API dock </a></li>
</ul>
